df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.info()

How to deal with missing values

- Drop The missing value
  1. drop the variable
  2. drop the data entry
- Replace the missing values
  1. replace it with average
  2. replace with freequence
  3. replace by other function

Drop missing values
------------------
dataframes.dropna()
    axis = 0 drop the entire row
    axis = 1 drop the entire column

df.dropna(subset['price'], axis=0, inplace = True)
equivalent to
df = df.dropna(subset['price'], axis=0)


mean = df['column_name'].mean()
df['column_name'].replace(np.nan,mean)


Data Formatting
------------------
df.dtype() identify data type

df.astype() convert data type
df["price"] = df["price"].astype("int")

Normalization
1. Simple feature scaling
    x_new = x_old/x_max
2. min-max
    x_new = (x_old-x_min)/(x_max-x_min)
3. z-score
    x_new = (x_old-mu)/sigma

Binning
-------------------
bins = np.linspace(min(df["price"]), max(df["price"]), 4)
group_names = ["Low", "Medium", "High"]
price['price-binned'] = pd.cut(df["price"], bins, labels=group_names, include_lowest=True)